{% extends "base.html" %}
{% block content %}
<style>
    .btn {
    margin-top: auto;  /* ✅ This aligns all buttons at the bottom */
    background: #4D96FF;
    border: none;
    border-radius: 40px;
    padding: 6px 16px;
    transition: 0.3s ease, transform 0.2s ease;
    }
    .btn:hover {
    opacity: 0.9;

    }
</style>
<body>
     <div class="container position-relative" style="height: 100vh; ">
        
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/0c5aac69119021.5b75484c8b5b2.gif" alt="background image"
        class="position-absolute top-0 start-0 w-100 h-100"
        style="object-fit: cover;z-index: -1;">
        <h1 class="text-white position-relative" style="z-index: 1;margin-top: 40vh;">FUNQUIZ IS HERE
            <button onclick="redirect(`{% url 'create_quiz' %}`)" class="btn btn-primary btn-sm mt-2">Play Now</button>
         </h1>
        <p>Funquiz makes enjoyable every moment.</p>
        
    </div>
    <div class="container my-2 py-1" style=" position: relative;background-color: whitesmoke;">
        <div class="d-flex  flex-md-row-reverse align-text-center gap-3">
            <img src="https://i.pinimg.com/originals/44/bf/75/44bf75a5dd8f52c440e743cd0a3ec507.gif" alt="">
        
    <div class="col-md-7 text-center">
    <h2 style="margin-top: 20px; font-size: 32px; "><b>ABOUT US</b></h2>
    <br>
    <p style="text-align: center;font-size: 24px;">
        The ultimate destination for everyone who loves learning while having fun! Our mission is to make quizzes exciting, engaging, and educational for users of all ages. Whether you’re testing your knowledge in physics, chemistry, movies, cars, or general trivia, FunQuiz offers a wide range of quizzes that challenge your mind and sharpen your skills.

    </p>
     </div>
    </div>
    </div>
   

</body>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


{% endblock content %}

