{% extends 'base.html' %}
{% block content %}

<div class="container">
<div class="text-center">
 <h2><b>Guess My favourite color?</b></h2></div>
 <br>

<div class="row">
    {% for color in colors %}
    <div class="col-6 col-sm-4 col-md-3 mb-3">
        <div class=" h-100">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="color_id" value="{{forloop.counter0}}">
                    <button type="submit"style="border:20px;"><img src="{{ color.image }}" alt="{{ color.name}}" class="img-fluid rounded" style="height: 200px; object-fit: cover;width: 200px;"></button>
            </form>
            
            <div class="card-body d-flex flex-column">
            <h5 class="mt-2">{{ color.name }}</h5>
            </div>
        </div>
    </div>
        {% endfor %}
   </div>
   </div>
    {% endblock content %}