{% extends 'base.html' %}
{% block content %}

<div class="container">
<div class="text-center">
 <h1><b>Guess My favourite flower?</b></h1></div>
 <br>

<div class="row">
    {% for flowers in flowerss %}
    <div class="col-6 col-sm-4 col-md-3 mb-3">
        <div class=" h-100">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="flower_id" value="{{forloop.counter0}}">
                    <button type="submit"><img src="{{ flowers.image }}" alt="{{ flowers.name}}" class="img-fluid rounded" style="height: 200px; object-fit: cover;width: 200px;"></button>
            </form>
            
            <div class="card-body d-flex flex-column">
            <h5 class="mt-2">{{ flowers.name }}</h5>
            </div>
        </div>
    </div>
        {% endfor %}
   </div>
   </div>
    {% endblock content %}