{% extends 'base.html' %}

{% block head_content %}
<title>Test your Bond</title>
{% endblock %}
{% block content %}

<div class="d-flex align-items-center">
  <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
  <h3 style="padding: 20px 30px;">Welcome To FUN QUIZ !<br>
    <br>
    <form method="POST" class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-2">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" value="{{ session_user.username }}" style="width: 27vh;padding: 5px 10px;border-radius: 10px;">
      <button type="text" value="submit" class="btn btn-primary" style="width:120px;">Save</button>
    </form>
  </h3>
</div>
</div>
    <div class="sticker">
  <img src="https://cdn-icons-png.flaticon.com/512/1141/1141102.png" alt="Star Sticker" style="height: 15rem;">
</div>




<div class=" text-center" style="padding-top: 30px;">

<a href="{% url 'create_quiz' %}" style="text-decoration:none; background-color: rgb(253, 236, 236);padding: 12px 20px;margin-top: 50px;border: 2px solid; font-size: 30px;border-radius: 20px;max-width: 600px;height: 8rem;color: red;">Create QUIZ</a><br>
<br>
<div class="container my-5">
  <div class="row align-items-center flex-md-row-reverse">
    <div class="col-md-6 mb-3">
    
     <img src="https://wallpapers.com/images/hd/funny-cartoon-pictures-b5y0idmifcy744ua.jpg" alt="" class="img-fluid rounded">
     <!-- <img src="https://png.pngtree.com/png-vector/20230905/ourmid/pngtree-have-fun-concept-excitement-png-image_9944945.png" alt=""> -->


    </div>
    <div class="col-md-6 text-md-start text-center">
      <h1>Welcome to FUN QUIZ!</h1><br>
      <p>Are you ready to challenge yourself and your friends? FUN QUIZ is your go to app for exciting quizzes, fun challenges, and learning in an entertaining way. Create quizzes, test your knowledge, and share them with your friends to see who scores the highest!</p>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row align-items-center flex-md-row-reverse">
    <div class="col-md-6 mb-3">
    
     <img src="https://cdn.vectorstock.com/i/500p/57/46/group-of-happy-kids-holding-hands-vector-20215746.jpg" alt="" class="img-fluid rounded">
     <!-- <img src="https://png.pngtree.com/png-vector/20230905/ourmid/pngtree-have-fun-concept-excitement-png-image_9944945.png" alt=""> -->


    </div>
    <div class="col-md-6 text-md-start text-center">
      <h2>Challenge Friends</h2><br>
      <p>Invite your friends and see who scores higher. Fun quizzes are even better when shared!</p>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row align-items-center flex-md-row-reverse">
    <div class="col-md-6 mb-3">
    
     <img src="https://media.istockphoto.com/id/492418894/vector/fun-sign.jpg?s=612x612&w=0&k=20&c=hPUa8EdrNAyf2UuPWAIMFZYFsIGKxTX0kyPhPwZBu48=" class="img-fluid rounded" alt="">
     <!-- <img src="https://png.pngtree.com/png-vector/20230905/ourmid/pngtree-have-fun-concept-excitement-png-image_9944945.png" alt=""> -->


    </div>
    <div class="col-md-6 text-md-start text-center">
      <h2>Create Your Own Quiz</h2><br>
      <p>Got a topic in mind? Create your very own quiz in just a few clicks! Add questions, choose multiple-choice answers, and make it fun for everyone. Your quizzes can be shared with friends or kept private for practice.</p>
    </div>
  </div>
</div>



</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock content %}