{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 px-3 text-center p-4 bg-white rounded shadow-sm" style="max-width:600px;">
    
    <!-- Hidden input for sharing -->
    <input type="text" id="share-link" value="http://{{ request.get_host }}/play/{{ quiz.track_id }}" class="d-none">

    <!-- Share button -->
    <button type="button" onclick="shareQuiz()" class="btn btn-success btn-lg mb-3 w-100">

        CLICK HERE TO SHARE THIS LINK
    </button>

    <!-- Direct link for copy -->
    <div class="text-center">
        <a class="btn link-button w-100" href="http://{{ request.get_host }}/play/{{ quiz.track_id }}" target="_blank"><u>
            {{ request.get_host }}/play/{{ quiz.track_id }}
            </u>
        </a>
    </div>
</div>

<style>
.link-button {
    display: inline-block;
    word-break: break-all;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(to right, #e2eefb, #f2f3f5);
    border-radius: 10px;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
}

.link-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
</style>
<body>
    <div class="container my-5">
  <div class="row align-items-center flex-md-row-reverse">
    <div class="col-md-6 mb-3">
    
     <img src="https://wallpapers.com/images/hd/funny-cartoon-pictures-b5y0idmifcy744ua.jpg" alt="" class="img-fluid rounded">
     <!-- <img src="https://png.pngtree.com/png-vector/20230905/ourmid/pngtree-have-fun-concept-excitement-png-image_9944945.png" alt=""> -->
    </div>
   <div class="col-md-6 text-md-start text-center">
      <h1>Welcome to FUN QUIZ!</h1><br>
      <p>Are you ready to challenge yourself and your friends? FUN QUIZ is your go to app for exciting quizzes, fun challenges, and learning in an entertaining way. Create quizzes, test your knowledge, and share them with your friends to see who scores the highest!</p>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row align-items-center flex-md-row-reverse">
    <div class="col-md-6 mb-3">
    
     <img src="https://cdn.vectorstock.com/i/500p/57/46/group-of-happy-kids-holding-hands-vector-20215746.jpg" alt="" class="img-fluid rounded">
     <!-- <img src="https://png.pngtree.com/png-vector/20230905/ourmid/pngtree-have-fun-concept-excitement-png-image_9944945.png" alt=""> -->


    </div>
    <div class="col-md-6 text-md-start text-center">
      <h2>Challenge Friends</h2><br>
      <p>Invite your friends and see who scores higher. Fun quizzes are even better when shared!</p>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row align-items-center flex-md-row-reverse">
    <div class="col-md-6 mb-3">
    
     <img src="https://media.istockphoto.com/id/492418894/vector/fun-sign.jpg?s=612x612&w=0&k=20&c=hPUa8EdrNAyf2UuPWAIMFZYFsIGKxTX0kyPhPwZBu48=" class="img-fluid rounded" alt="">
     <!-- <img src="https://png.pngtree.com/png-vector/20230905/ourmid/pngtree-have-fun-concept-excitement-png-image_9944945.png" alt=""> -->


    </div>
    <div class="col-md-6 text-md-start text-center">
      <h2>Create Your Own Quiz</h2><br>
      <p>Got a topic in mind? Create your very own quiz in just a few clicks! Add questions, choose multiple-choice answers, and make it fun for everyone. Your quizzes can be shared with friends or kept private for practice.</p>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>

<script>
function shareQuiz() {
    const url = document.getElementById('share-link').value;

    if (navigator.share) {
        navigator.share({
            title: 'Play this Quiz!',
            text: 'Check out this fun quiz!',
            url: url
        })
        .then(() => console.log('Shared successfully'))
        .catch((err) => console.log('Error sharing', err));
    } else {
        navigator.clipboard.writeText(url)
            .then(() => alert('Link copied to clipboard!'))
            .catch(() => alert('Could not copy link, please copy manually.'));
    }
}
</script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}
