{% extends 'base.html' %}
{% block content %}

<div class="container">
<div class="text-center">
 <h2><b>Guess My favourite subject?</b></h2></div>

<div class="row">
    {% for subject in subjects %}
    <div class="col-sm-6 col-12">
        <div class=" h-100">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="subject_id" value="{{forloop.counter0}}">
                    <button type="submit"style="border:20px;"><img src="{{ subject.image }}" alt="{{ subject.name}}" class="card-img-top" style="height: 200px; object-fit: cover;width: 200px;"></button>
            </form>
            
            <div class="card-body d-flex flex-column">
            <h5 class="mt-2">{{ subject.name }}</h5>
            </div>
        </div>
    </div>
        {% endfor %}
   </div>
   </div>
    {% endblock content %}