{% extends "base.html" %}
{% block content %}
<style>
    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 150px;
   background-color: burlywood;
   color: white;
   text-align: center;
}

p{
    text-align: center;
    padding:20px 8px;
}
.content {
        background-color: whitesmoke;
        margin: 50px auto;
        padding: 30px;
        border-radius: 10px;
        width: 80%;
        text-align: center;
    }
    
</style>
<body>
    <div class="container">
    <div class="content">
    <h1>Test Bond</h1>
    <hr>
<p>Challenge yourself and your friends with fun, creative, and thought-provoking quizzes that reveal how strong your connection truly is! Whether it’s friendship, love, or teamwork, each question helps you discover how well you really know each other. Laugh, guess, and share your results because the best bonds are built through fun and a little friendly competition.
  <div class="container my-5">
  <div class="row g-4 justify-content-center">
     <div class="col-6 col-sm-4 col-md-3">
      <div class="card h-100 shadow-sm">
            <img src="https://i.gifer.com/embedded/download/37G7.gif" alt="Star Sticker" class="card-img-top" style="height: 250px; object-fit: cover;">
            <div class="card-body text-center">
              <h5 class="card-title">Bond Quiz</h5>
              <button onclick="redirect(`{% url 'create_quiz' %}`)" class="btn btn-primary btn-sm mt-2">
                Play Now
              </button>
          </div>
        </a>
      </div>
</p></div>
    </div>
  </div>
</div>
</div>
</div>
    <br>
<div class="container my-5" style="background-color: azure; padding-top: 40px;">
  <h3 class="text-center fw-bold mb-4">Explore More</h3>
   
<div class="container my-5">
  <div class="row g-4 justify-content-center">
 <!-- Guess Car Quiz -->
 <div class="col-6 col-sm-4 col-md-3">
      <div class="card h-100 shadow-sm">
         <a href="{% url 'riddlegame_quiz'  %}" class="text-decoration-none text-dark">
          <img src="https://media.baamboozle.com/uploads/images/98541/1648042688_140077_gif-url.gif" class="card-img-top" style="height: 250px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title">Riddle Me This</h5>
            <span class="btn btn-primary btn-sm mt-2">Play Now</span>
          </div>
        </a>
      </div>
    </div>
      <div class="col-6 col-sm-4 col-md-3">
      <div class="card h-100 shadow-sm">
        <a href="{% url 'physicsgame_quiz' %}" class="text-decoration-none text-dark">
          <img src="https://s.wsj.net/public/resources/images/OG-CW598_201907_GR_20190703173137.gif" class="card-img-top" style="height: 250px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title">Physics Quiz</h5>
            <span class="btn btn-primary btn-sm mt-2">Play Now</span>
          </div>
        </a>
      </div>
    </div>
     <div class="col-6 col-sm-4 col-md-3">
      <div class="card h-100 shadow-sm">
        <a href="{% url 'mathgame_quiz' %}" class="text-decoration-none text-dark">
          <img src="https://media1.giphy.com/media/v1.Y2lkPTZjMDliOTUybmZwMDF5YjVsYmZiZjdwczh3enBzNDN6MGN5dW5waHJtbnB2eDVjbyZlcD12MV9zdGlja2Vyc19zZWFyY2gmY3Q9cw/XbLWKGZrOOR1ByhX7n/giphy.gif" class="card-img-top" style="height: 250px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title">Math Quiz</h5>
            <span class="btn btn-primary btn-sm mt-2">Play Now</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <div class="card h-100 shadow-sm">
        <a href="{% url 'capitalgame_quiz' %}" class="text-decoration-none text-dark">
          <img src="https://missiongeographyindia.wordpress.com/wp-content/uploads/2016/07/capitals.gif?w=384" class="card-img-top" style="height: 250px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title">World Capitals Quiz</h5>
            <span class="btn btn-primary btn-sm mt-2">Play Now</span>
          </div>
        </a>
      </div>
    </div><div class="col-6 col-sm-4 col-md-3">
      <div class="card h-100 shadow-sm">
        <a href="{% url 'chemistrygame_quiz' %}" class="text-decoration-none text-dark">
          <img src="https://media3.giphy.com/media/v1.Y2lkPTZjMDliOTUyZmhwZ2psM3pybG1wZWFyN2ZramM3d2VzcGRjMG13ODR2dm1wZzBrdiZlcD12MV9zdGlja2Vyc19zZWFyY2gmY3Q9cw/mACiRE5HiqioJDdeSR/source.gif" class="card-img-top" style="height: 250px; object-fit: cover;">
          <div class="card-body text-center">
            <h5 class="card-title">Chemistry Quiz</h5>
            <span class="btn btn-primary btn-sm mt-2">Play Now</span>
          </div>
        </a>
      </div>
    </div>
    </div>
</body>

<!-- Font Awesome -->
  <script>
  function redirect(url) {
  window.location.href = url
  }
</script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


{% endblock content %}

